@import "tailwindcss";

.shadow-bottom-left {
  box-shadow: rgba(0, 0, 0, 0.25) -10px 30px 40px,
    rgba(0, 0, 0, 0.12) -5px 10px 15px, rgba(0, 0, 0, 0.17) -2px 5px 10px;
}

.gold {
  color: #e0935a;
}
.bg-gold {
  background-color: #e0935a;
}

.border-gold {
  border-color: #e0935a;
}

.text-gold {
  color: #e0935a;
}
